<IfModule mod_rewrite.c>
Options +FollowSymLinks
Options -Indexes
    RewriteEngine On
    RewriteBase /
    RewriteRule ^$    app/index.php    [NC,L]
    RewriteRule ^datcom$    app/index.php    [NC,L]
    RewriteRule ^api$    view/api.php    [NC,L]
</IfModule>