<div class="row chooseFoods">
    <div class="table-responsive">
        <table class="chooseFoods_menuList table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th class="col-sm-4">Món ăn</th>
                <th class="col-sm-4">Giá tiền</th>
                <th class="col-sm-4 chooseFoods_Username"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script id="chooseFoods_menuItem_template" type="text/template">
    <tr class="chooseFoods_menuItem_wrapper" menu_id="${menuId}">
        <td class="chooseFoods_menuItem_ItemName">${monan}</td>
        <td class="chooseFoods_menuItem_ItemPrice">${gia}</td>
        <td class="chooseFoods_menuItem_ItemPrice detail_order_user_item" style="text-align: center"><input class="userCheckOrder" type="checkbox"></td>
    </tr>
</script>
<style>
    .chooseFoods_Username {
        min-width: 40px;
    }

    .isMainMenuItem td.detail_order_user_item {
        background-color: #dff0d8 !important;
    }
    .isSubMenuItem td.detail_order_user_item {
        background-color: #d9edf7 !important;
    }
</style>