<div class="row homeGroup">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 homeGroup_GroupName"></div>
            <div class="col-sm-6 homeGroup_Username"></div>
        </div>
        <div class="row homeGroup_ChooseUsername_wrapper" style="margin-top: 15px;">
            <div class="col-sm-12 homeGroup_ChooseUsername hidden"></div>
        </div>
        <div class="row homeGroup_ChooseFoods_wrapper" style="margin-top: 15px;">
            <div class="col-sm-12 homeGroup_ChooseFoods hidden"></div>
        </div>
        <div class="row homeGroup_Logout_wrapper">
            <div class="homeGroup_Logout btn btn-primary btn-lg btn-block hidden">Thoát</div>
        </div>
    </div>
</div>